name: Publish Package to GitHub NPM Registry

on: 
  release:
    types: [published] 
    
jobs:
    npm-package:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout Repository
          uses: actions/checkout@v4

        - name: Setup NodeJS Version 20
          uses: actions/setup-node@v3
          with:
            node-version: 20
            registry-url: 'https://npm.pkg.github.com/'
        - run: npm install